<h1>Stupid Coaching</h1>

<div>
  <blockquote>
    <p><%= @question %></p>
    <figcaption>
    - You
    </figcaption>
  </blockquote>
</div>

<div>
  <blockquote>
    <p><%= @answer %></p>
    <figcaption>
    - Your coach
    </figcaption>
  </blockquote>
</div>


<%=link_to "Ask a new question", ask_path %>
